.contenedor{
  background: black;
  width: 100%;
  /* flex*/
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.abrirboton{
  display: none;
}

.menu li{
  display: inline-block;
  padding: 5px;
  position: relative;
}
.menu ul li::before{
  content: "";
  height: 3px;
  background-color: red;
  position: absolute;
  left: 0;
  bottom: -12px;
  transition: 0.4s ease-out;
}
.menu ul li:hover::before{
  width: 100%;
}
.navegacion{
  width: 100%;
}

.fondo{
  width: 100%;
}

.menu{
  color: white;
}
.fondo img{
 width: 100%;
}
.imagenes{
  width: 100%;
  height: 350px;
  position: relative;
  display: flex;
  justify-content: center;
  height: 910px;
  width: 100%;
  color: white;
  background-color: black;
  font-family: ubuntu, sans-serif;
  align-content: center;
  align-items: center;
}
.logo{
  height: 200px;
  border-radius: 50%;
}


.cseccion{
  position: relative;
  display: flex;
  justify-content: space-around;
  border-radius: 5px;
  margin-top: 200px;
}
.iconos{
  color:white;
  text-align: center;
}
.dd{
  height: 50px;
  width: 50px;
  margin-top: 10px;
  flex-wrap: wrap;
}
.porta{
  height: 50px;
  width: 50px;
  margin-top: 10px;
  flex-wrap: wrap;
}
.escri{
  height: 50px;
  width: 50px;
  margin-top: 10px;
  flex-wrap: wrap;
}
.serh3{
  text-align: center;
}
.trabajador{
  height: 300px;
  width: 300px;
  border-radius: 5px;
}
.tecnologias{
  width: 100%;
  height: 550px;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  margin-top: 200px;
}

.cont{
 width: 330px;
 height: 430px;
 border-radius: 8px;
 box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
 overflow: hidden;
 margin: 20px;
 text-align: center;
 transition: all 0.25s;
 background-color: rgba(255,255,255,0.5);
}
.cont:hover{
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}
.cont img{
  margin-top: 10px;
  width: 250px;
  height: 220px;
}
.cont h4{
  font-weight: 600;
  color: white;
}
.cont p{
  margin-top: 15px;
  padding: 0 1rem;
  font-size: 16px;
  font-weight: 300;
}
.cont a{
  font-weight: 500;
  text-decoration: none;
  background-color: rgb(167, 67, 67);
  border-radius: 5px;
  border: solid white;
  color: white;
  transition: all, 0.5s;
}
.cont a:hover{
  background-color: rgb(168, 18, 18);
}
.row {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 200px;
}

/* ¿qué porcentaje es 4 de un total de 12? */
.column-4 {
  width: 33.333%;
  padding: 16px;
}
.column-4 img{
  width: 100%;
}
/* ¿qué porcentaje es 8 de un total de 12? */
.column-8 {
  width: 66.666%;
  padding: 16px;
  display: flex;
  align-items: center;
  color: white;
  flex-wrap: wrap;
  font-family: Merriweather, sans-serif;
}
.container {
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: nowrap;
  
}
.container img {
  display: initial;
}
.hv{
  background-color: tomato;
  border-radius:5px ;
  width: 120px;
  height: 20px;
  text-align: center;
}
.footer{
  display: flex;
  justify-content: space-between;
  background-color: #353535;
  align-items: center;
}
.contacto{
  color: aliceblue;
  margin: 10px;
}
.icon img{
  margin: 10px;
  height: 40px;
  width: 40px;
}

