table {
    border: solid gray 2px;
    background: grey;
    text-align: center;
    justify-content: center;
    margin: 5px;
    display: flex;
    width: 60%;
    padding: 10px;
  }
  
  td {
    border: solid white 1px;
    background-color: red;
    color: white;
  }