@media screen and (max-width: 960px) {
  .iconos{
    font-size: 10px;
    width: 300px;
    height: 300px;
  }
}
@media screen and (max-width: 960px) {
  .column-lg-6 {
    width: 50%;
    padding: 16px;
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 720px) {
  .column-md-4 {
    width: 33.333%;
    padding: 16px;
  }
}
@media screen and (max-width: 540px) {
  .column-sm-12 {
    width: 100%;
    padding: 16px;
    display: flex;
    flex-wrap: wrap;
  }
}
