@media screen and (max-width: 720px){
  header{
    padding: 10px;
    display: flex;
    justify-content: space-between;
  }
  .abrirboton{
    display: block;
    cursor: pointer;

  }
  nav{
    flex-wrap: wrap;
  }
  nav ul{
    order: 3;
    flex-direction: column;
    width: 100%;
    display: none;
  }
}

@media screen and (max-width: 960px) {
  .column-lg-6 {
    width: 50%;
    padding: 16px;
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 720px) {
  .column-md-4 {
    width: 33.333%;
    padding: 16px;
  }
}
@media screen and (max-width: 540px) {
  .column-sm-12 {
    width: 100%;
    padding: 16px;
    display: flex;
    flex-wrap: wrap;
  }
}
